/*----------------------------
    MAIN
-----------------------------*/

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    padding-right: 0!important;
    position: relative;
} 

body.modal-open {
    padding-right: 0!important;
    overflow: visible;
}

body,
html {
    background-color: transparent !important;
}


/*----------------------------
    INDEX PAGE
-----------------------------*/
#registration,
#verification,
#form-recover>div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 10px;
}


/*----------------------------
    MODIFICATIONS
-----------------------------*/

.list-timeline:before {
    content: none !important;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-fullscreen {
    z-index: 9999;
}

.modal {
    z-index: 11000;
}

.modal-backdrop {
    z-index: 10500;
}

.modal-xl {
    width: 90%;
}

#side-overlay {
    z-index: 9999;
}

.tab-pane {
    padding-right: 10px;
}


/* default oneui css */

@media screen and (min-width: 992px) {
    #sidebar {
        width: 200px;
    }
    .header-navbar-fixed.sidebar-l.sidebar-o #header-navbar {
        left: 200px;
    }
    #page-container.sidebar-l.sidebar-o {
        padding-left: 200px;
    }
    .sidebar-l.sidebar-o.sidebar-mini #sidebar {
        -webkit-transform: translateX(-130px) translateY(0) translateZ(0);
        -ms-transform: translateX(-130px) translateY(0);
        transform: translateX(-130px) translateY(0) translateZ(0);
    }
    .sidebar-l.sidebar-o.sidebar-mini #sidebar .sidebar-content {
        -webkit-transform: translateX(140px) translateY(0) translateZ(0);
        -ms-transform: translateX(140px) translateY(0);
        transform: translateX(140px) translateY(0) translateZ(0);
    }
    .sidebar-o.sidebar-mini #sidebar:hover,
    .sidebar-o.sidebar-mini #sidebar:hover .sidebar-content {
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0);
    }
    .sidebar-o.sidebar-mini #sidebar:hover,
    .sidebar-o.sidebar-mini #sidebar:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .sidebar-l.sidebar-o.sidebar-mini #sidebar .sidebar-content .side-header {
        -webkit-transform: translateX(-20px) translateY(0) translateZ(0);
        -ms-transform: translateX(-20px) translateY(0);
        transform: translateX(-20px) translateY(0) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .sidebar-o.sidebar-mini #sidebar:hover .sidebar-content .side-header {
        -webkit-transform: translateX(0) translateY(0) translateZ(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
}

.nav-main a>i {
    color: #4c555a !important;
    margin-right: 10px;
}

.nav-main li.open>a.nav-submenu,
.nav-main li>a.nav-submenu {
    background-color: transparent;
    color: #5abaf0;
    font-size: 13px;
    line-height: 10px;
    font-weight: 600;
    font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif, "Microsoft Yahei";
}

.nav-main ul {
    background-color: transparent;
}

.nav-main ul a {
    color: #4c555a;
    font-size: 13px;
    line-height: 10px;
}

.nav-main ul a:hover,
.nav-main li.open>ul a:hover {
    color: inherit;
}

.nav-main ul a.active {
    color: #4c555a;
    font-weight: bold;
}


/*----------------------------
    BACKGROUNDS
-----------------------------*/

.bg-sidebar {
    background-color: #fafcfc;
}

#sidebar {
    background-color: #fafcfc !important;
}

.overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}


/*----------------------------
    TEXT STYLES
-----------------------------*/

.title {
    font-size: 36px;
    letter-spacing: 3px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.sub-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
}


/*----------------------------
   CUSTOM SCROLLBARS
-----------------------------*/

#custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c90d2;
}


/*----------------------------
    UTILS
-----------------------------*/

.hand {
    cursor: pointer !important;
}

.vtop {
    vertical-align: top;
}

.fullW {
    width: 100%;
}

.row-over:hover {
    background-color: aliceblue
}

.row-selected {
    background-color: lightgrey;
}

.row-selected:hover {
    background-color: lightgrey !important;
}

.capitalize {
    text-transform: capitalize;
}

.text-upper-first::first-letter {
    text-transform: uppercase;
}

.text-upper-first::after {
    content: '.';
}

#page-link {
    z-index: 3 !important;
}

.edit {
    z-index: 10;
}

.total-center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*----------------------------
    QUERY BUILDER
-----------------------------*/

.error-container .glyphicon-warning-sign {
    padding-top: 4px !important;
}

.glyphicon-warning-sign {
    color: coral !important;
    padding-left: 5px;
}

.query-builder .group-actions {
    padding-right: 16px;
}

.query-builder .rules-group-container {
    border: 0 !important;
    background-color: transparent !important;
}

.query-builder .rule-actions {
    padding-top: 6px;
    padding-right: 10px;
}

.query-builder .rule-value-container {
    border: 0 !important;
}

.rule-filter-container>select {
    text-transform: capitalize;
}

.query-builder .rule-value-container input[type=number],
.query-builder .rule-value-container input[type=text] {
    padding: inherit !important;
    padding-left: 4px !important;
}


/*----------------------------
    PROGRESS BAR
-----------------------------*/

.statusBar>div:nth-child(1) {
    font-size: 10px;
    padding-left: 3px;
    padding-bottom: 1px;
}

.statusBar>div:nth-child(2) {
    font-size: 12px;
    padding-left: 3px;
    padding-bottom: 2px;
}

.statusBar>div:nth-child(3) {
    background-color: transparent;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    height: 10px;
}

.statusBar>div:nth-child(3)>div {
    height: 8px;
    border-radius: 4px;
}

.statusBar>div:nth-child(3)>div.success {
    background-color: #5c90d2;
}

.statusBar>div:nth-child(3)>div.warning {
    background-color: #f3b760;
}

.statusBar>div:nth-child(3)>div.danger {
    background-color: #d26a5c;
}


/*----------------------------
    UPLOAD
-----------------------------*/

#upload {
    background-color: #373a3d;
    background-image: -webkit-linear-gradient(top, #373a3d, #313437);
    background-image: -moz-linear-gradient(top, #373a3d, #313437);
    background-image: linear-gradient(top, #373a3d, #313437);
    width: 550px;
    padding: 30px;
    border-radius: 3px;
    margin: 20px auto;
}

#drop {
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}

#drop.dragover {
    background-color: #337ab7;
}

#drop input {
    display: none;
}

#upload ul {
    list-style: none;
    margin: 0 0 0 -40px;
}

#upload ul li {
    border-top: 1px solid #3d4043;
    border-bottom: 1px solid #2b2e31;
    padding: 15px;
    height: 82px;
    position: relative;
}

#upload ul li input {
    display: none;
}

#upload ul li p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 16px;
    left: 100px;
}

#upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
    font-size: 14px;
}

#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p {
    color: red;
}


/*----------------------------
   INSERT IMAGE
-----------------------------*/

.img-preview-template {
    border-radius: 4px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.img-container .img-options {
    border-radius: 4px;
    cursor: pointer;
}

#insert-image .S3Images-list {
    max-height: 600px;
    overflow: auto;
    width: 100%;
}

.S3Images-list img {
    cursor: pointer;
}

.S3Images-list ul {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.S3Images-list ul li {
    max-width: 29%;
}


/*----------------------------
   ICONS (INSERT IN PAGE)
-----------------------------*/

.icon-preview-box .preview {
    cursor: pointer;
}

.icon-preview-box .preview {
    padding: 15px 0;
    position: relative;
    height: 60px;
}

.icons {
    font-size: 18px;
    padding-right: 7px;
}

.icon-preview-box .name {
    font-size: 18px;
}

.small-icons,
.small-icons .icons {
    font-size: 8pt;
    vertical-align: middle;
}

.medium-icons {
    vertical-align: middle;
}

.large-icons,
.large-icons .icons {
    font-size: 22pt;
    vertical-align: middle;
}


/*----------------------------
    JQUERY UI DIALOG
-----------------------------*/

.ui-dialog {
    z-index: 10000 !important;
}

.ui-dialog-titlebar {
    cursor: move
}

.ui-button {
    color: #fff;
    background-color: #5c90d2;
    border-color: #3675c5;
    font-weight: 600;
    border-radius: 2px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    float: right;
}
